APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
BACKEND_URL=http://localhost:9001/api

GOOGLE_CLIENT_ID=591465282602-74k5g1dp6nf1n5qeq5m8j0v1gbi5bo96.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT=http://localhost/T-WEB-800-STG_6/citytours/public/google/callback

PAYPAL_MODE=sandbox
PAYPAL_SANDBOX_CLIENT_ID=AVP7MCgfKPbFwuQajiwVUaHhIIuxzHdKUHOYGRG-nXYXcQlkRNrrdxD4mrsPPoPJmW-qI_IjiuvTI2D9
PAYPAL_SANDBOX_CLIENT_SECRET=EJnwPGu6nm-wVcnb2fLvJ4rztM2MEbl9tenxF8esPn-PV5ZGkzabUXKD91NGaHjAFDE36wjbxmWc2Kxi
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=
PAYPAL_CURRENCY=EUR
PAYPAL_LOCALE=fr_FR
PAYPAL_VALIDATE_SSL=false

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.ionos.fr
MAIL_PORT=465
MAIL_USERNAME=ceo@licortech.com
MAIL_PASSWORD=Thanhtienn!150819921
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=ceo@licortech.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
